.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      %h1.main-chat__group-info__left-box__g-title
        = link_to group_messages_path(@group) do
          = @group.name
      .main-chat__group-info__left-box__member
        Member : 
        %ul
          - @group.users.each do |user|
            %li= user.name
    .main-chat__group-info__right-box
      = link_to edit_group_path(@group) do
        .main-chat__group-info__right-box__edit
          Edit

  .main-chat__message-list
    = render @messages

  .main-chat__form
    = form_for [@group, @message] do |f|
      .main-chat__form__new-message
        .main-chat__form__new-message__input
          = f.text_field :content, class: 'main-chat__form__new-message__input__text', placeholder: 'type a message'
          = f.label :image, class: 'main-chat__form__new-message__input__img' do
            = icon('far', 'image', class: 'main-chat__form__new-message__input__img__icon')
            = f.file_field :image, class: 'main-chat__form__new-message__input__img__hidden'
        .main-chat__form__new-message__send
          = f.submit 'Send', class: 'main-chat__form__new-message__send__submit'
