.side_bar
  .side_bar__side-header
    .side_bar__side-header__box
      %p.side_bar__side-header__box__user-name
        = current_user.name
      %ul.side_bar__side-header__box__menu
        %li.side_bar__side-header__box__menu__edit
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side_bar__side-header__box__menu__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .side_bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side_bar__group-list__g-group
          %p.side_bar__group-list__g-group__g-name
            = group.name
          %p.side_bar__group-list__g-group__g-message
            = group.show_last_message
